[color]
    ui = auto

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    # Включить бок о бок вид
    side-by-side = true
    # Показывать номера строк
    line-numbers = true
    # Подсветка синтаксиса
    syntax-theme = "Monokai Extended"
[diff]
	tool = meld
	#tool = vimdiff
	#tool = nvimdiff
[difftool]
	prompt = false
[alias]
	mv2nb = "!f() { \
        if [ -z \"$1\" ]; then \
            echo '❌ Укажи имя новой ветки: git mv2nb имя_ветки'; \
            exit 1; \
        fi; \
        msg=\"stash-before-switch-$(date +%Y%m%d-%H%M%S)\"; \
        echo \"📦 Сохраняем незакоммиченные изменения в stash: $msg\"; \
        git stash push -m \"$msg\" && \
        echo \"🌿 Создаём и переключаемся на ветку: $1\"; \
        git switch -c \"$1\" && \
        echo \"🎯 Возвращаем изменения из stash\"; \
        git stash pop; \
    }; f"
    
	fetch-all = "!f() { args=\"\"; for b in \"$@\"; do args=\"$args HEAD:$b\"; done; git fetch . $args; }; f"
	fetch-upload-all = "!f() { for b in \"$@\"; do git fetch . HEAD:$b && git push origin $b; done; }; f"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
